<footer class="footer bg-footer-gradient text-center text-white py-3">
    <p>© 2024 Virtual Art Gallery. All rights reserved.</p>
    <a href="/Privacy" class="text-white text-decoration-none">Privacy Policy</a>
</footer>